<html ng-app="reg-ng">
<head>
  <meta charset="utf8" />
  <title>AngularJS Tutorial</title>
</head>
<body>
  <form ng-controller="registrationForm">
    Country (C = <b>DE</b>)<br/>
    <input type="text" ng-model="data.registrationRequest.c"></input><br/>
    
    State (ST = <b>NRW</b>)<br/>
    <input type="text" ng-model="data.registrationRequest.st"></input><br/>
    
    Location (L = <b>Minden</b>)<br/>
    <input type="text" ng-model="data.registrationRequest.l"></input><br/>
    
    Organization (O = <b>FH Bielefeld</b>):<br/>
    <input type="text" ng-model="data.registrationRequest.o"></input><br/>
    
    Organizational Unit (OU = <b>FB Technik</b>):<br/>
    <input type="text" ng-model="data.registrationRequest.ou"></input><br/>
    
    Common Name (CN = <b>fh-bielefeld.de</b>):<br/>
    <input type="text" ng-model="data.registrationRequest.cn"></input><br/>
    
    <br/>
    <button ng-click="click()">Register</button>
  </form>    
  <script src="angular.min.js"></script>
  <script src="reg-ng.js"></script>
</body>
</html>